.icon-button {
  font-size: 1rem;
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 1em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  transition: all 350ms ease-in-out;
  &:not(:enabled) {
    fa-icon {
      color: lightgray;
    }
  }
}

fa-icon {
  transition: all 350ms ease-in-out;
}
.icon-button:hover:enabled,
.icon-button:active:enabled {
  > fa-icon {
    transform: scale(1.3);
  }
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
