.user-box {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  // width: 60%;
  // margin: 0px auto;
}

.user-box label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}
.user-box input {
  padding: 0.1rem 0rem;
  font-size: 16px;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -10px;
  left: 0;
  font-size: 12px;
  font-weight: bold;
}
