<form [formGroup]="stocksForm">
  <div style="margin-bottom: 1rem">
    <!-- <span>New ISIN: </span> -->
    <!-- <input class="input-search" formControlName="newIsin" /> -->
    <!-- TODO: fix style and remove float -->
    <!-- <button><fa-icon [icon]="searchIcon"></fa-icon></button> -->
    <app-input></app-input>
    <app-icon-button
      [disabled]="isButtonDisabled"
      (onButtonClick)="searchNewIsin()"
      [search]="true"
    ></app-icon-button>
    <!-- <button
      [disabled]="isButtonDisabled"
      (click)="searchNewIsin()"
      style="float: right"
    >
      click
    </button> -->
  </div>
  <ng-container formArrayName="stocks">
    <div
      *ngFor="let stock of stocks.controls; index as i"
      style="margin-bottom: 1rem"
    >
      <div class="card">
        <ng-container [formGroupName]="i">
          <p>
            <span class="bold">Isin: </span><span>{{ stock.value.isin }}</span>
          </p>
          <p>
            <span class="bold">Price: </span
            ><span>{{ stock.value.price }}</span>
          </p>
          <button
            *ngIf="stock.value.isSubscribed"
            (click)="cancelSubscription(stock.value.isin, i)"
          >
            cancel subscription
          </button>
          <button
            *ngIf="!stock.value.isSubscribed"
            (click)="startSubscription(stock.value.isin, i)"
          >
            start subscription
          </button>
        </ng-container>
      </div>
    </div>
  </ng-container>
</form>
